<?xml version="1.0"?>
<launch>
    <!-- Dingo params: Dont change! -->
    <arg name="robot_name" default="$(env ROBOT_NAME)" />
    <arg name="file_name" default="recording_demonstration_0" />
    <arg name="goal_publisher_name" default="/kinovaaa/command" />

    <node name="lfd_playback" pkg="lfd_interface" type="playback_recording.py" args="" output="screen"/>

</launch>